@if (loading) {
  <app-loading></app-loading>
} @else {

  @if (successMessage) {
    <div class="alert alert-dismissible alert-success mt-3">
    <button type="button" class="btn-close" data-bs-dismiss="alert" (click)="clearAlert()"></button>
    {{ successMessage }}
    </div>
  }

  @if (errorMessage) {
      <div class="alert alert-dismissible alert-primary mt-3">
      <button type="button" class="btn-close" data-bs-dismiss="alert" (click)="clearAlert()"></button>
      {{ errorMessage }}
      </div>
  }

  @if (runners.length > 0) {
    <form (ngSubmit)="savePotAssignments()">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Runner</th>
            <th class="d-flex justify-content-center">Pot</th>
          </tr>
        </thead>
        <tbody>
          @for (runner of runners; track runner._id) {
            <tr>
              <td>{{ runner.displayName || runner.discordUsername }}</td>
              <td class="d-flex justify-content-center">
                <div class="btn-group" role="group" aria-label="Pot selection">
                  <input type="radio"
                         class="btn-check"
                         [name]="'potRadio' + runner._id"
                         id="{{ 'pot1_' + runner._id }}"
                         [value]="1"
                         [checked]="potSelections[runner._id] === '1'"
                         (change)="onPotChange(runner._id, '1')">
                  <label class="btn btn-outline-primary" [for]="'pot1_' + runner._id">Pot 1</label>
      
                  <input type="radio"
                         class="btn-check"
                         [name]="'potRadio' + runner._id"
                         id="{{ 'pot2_' + runner._id }}"
                         [value]="2"
                         [checked]="potSelections[runner._id] === '2'"
                         (change)="onPotChange(runner._id, '2')">
                  <label class="btn btn-outline-primary" [for]="'pot2_' + runner._id">Pot 2</label>
      
                  <input type="radio"
                         class="btn-check"
                         [name]="'potRadio' + runner._id"
                         id="{{ 'pot3_' + runner._id }}"
                         [value]="3"
                         [checked]="potSelections[runner._id] === '3'"
                         (change)="onPotChange(runner._id, '3')">
                  <label class="btn btn-outline-primary" [for]="'pot3_' + runner._id">Pot 3</label>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    
      <button type="submit" class="btn btn-success">Save Pot Assignments</button>
    </form>
  }


}