<div class="container">
    <h1 class="mb-4">Tournament Rules</h1>
    
    <h2>Setting up</h2>
    <ul>
      <li>All racers have to stream from their channel.</li>
      <li>Microphones and Alerts must be muted.</li>
      <li>Livesplit must be visible.</li>
      <li>Streams have to be live at least 5 minutes before the race is scheduled to start.</li>
      <li>All racers have to join the <a href="https://racetime.gg">RaceTime</a> channel created by either the admins or the commentators.</li>
      <li>You will be asked to change the game to a specific color palette before the race by the commentators. This must be done to prove your run is not pre-recorded.</li>
      <li>You may also be asked to do other actions at the discretion of the commentators, if it is believed that your run may be pre-recorded.</li>
    </ul>
    
    <h2>Gameplay</h2>
    <ul>
        <li>The run has to follow the <a href="https://www.speedrun.com/pkmnrbext?h=Any_Glitchless_No_Instant_Text&rules=game&x=7dg6p5gk">Game</a> and <a href="https://www.speedrun.com/pkmnrbext?h=Any_Glitchless_No_Instant_Text&rules=category&x=7dg6p5gk">Category</a> rules from Speedrun.com.</li>
        <li>Instant Text (IT) is banned from the tournament. In the event that you mistakenly get IT, it has to be killed off <strong>before the first turn on Bridge Rival</strong> and <strong>before the first turn on Dig Rocket</strong> respectively. Otherwise, you will be issued a <strong>3 minute penalty</strong>.</li>
        <li>Runs longer than <strong>2h30</strong> count as "Did Not Finish" (DNF) to keep on track with restreaming time slots.</li>
        <li>In the unlikely event of a tie that ends up mattering for advancement or seeding, each run in question will be frame counted.</li>
    </ul>
  
    <h2>Crashes/Disconnects</h2>
    <ul>
      <li>In the event that a racer’s stream disconnects for an extended period of time, they will have to provide a VOD of the run to the admins for review.</li>
      <li>If a racer’s console/emulator crashes, they must continue from their last save.</li>
      <li>If a racer’s console/emulator crashes within the first 20 minutes, a rematch is allowed ONLY if all racers agree.</li>
    </ul>

    <h2>Suggestions/Tips</h2>
    <ul>
      <li>For split comparisons, it is advised to use the following split names:</li>
      <ul>
        <li>Nidoran</li>
        <li>Brock</li>
        <li>Route 3</li>
        <li>Mt. Moon</li>
        <li>Bridge</li>
        <li>Misty</li>
        <li>Surge</li>
        <li>Fly</li>
        <li>Flute</li>
        <li>Koga</li>
        <li>Erika</li>
        <li>Blaine</li>
        <li>Sabrina</li>
        <li>Giovanni</li>
        <li>Lorelei</li>
        <li>Bruno</li>
        <li>Agatha</li>
        <li>Lance</li>
        <li>Champion</li>
        <li>Hall of Fame</li>
      </ul>
      <li>It is strongly advised to locally record your run in case you disconnect.</li>
      <li>Make sure you have a <a href="https://racetime.gg">Racetime.gg</a> and know how it works.</li>
    </ul>
  
    <h2>Commentary Guidelines</h2>
    <p>You must know enough about the run to explain what is going on at any one time.</p>
    <p>Follow the guidelines from SpeedGaming: <a href="https://pastebin.com/92y6y9gb">SpeedGaming Guidelines</a></p>
  </div>
  