<h1 class="mb-4">Tournament Rules</h1>

<h2>Setting up</h2>
<ul>
  <li>Visit GitHub for the latest tech Set-Up instructions. <a href="https://github.com/hwangbro/RedTournament/blob/main/README.md" target="_blank">GitHub link</a>.</li>
  <li>IMPORTANT: join the <span class="badge discord-blue p-2"><a class="text-light text-decoration-none" href="https://discord.com/channels/456193501852467222/1286753245741580431">Tournament Waiting Room</a></span> voice channel <strong>15-20 minutes</strong> before your race to set up your stream. This process is mandatory unless stated otherwise.</li>
</ul>

<h2>Post-Race</h2>
<ul>
  <li>After you finish your race, if you would like to join the stream for a <strong>post-race interview</strong>, please join the <span class="badge discord-blue p-2"><a class="text-light text-decoration-none" href="https://discord.com/channels/456193501852467222/1286753245741580431">Tournament Waiting Room</a></span> voice channel. Someone will then pull you into the restream/commentary channel.</li>
</ul>

<h2>Gameplay</h2>
<ul>
    <li>The run has to follow the <a href="https://www.speedrun.com/pkmnrbext?h=Any_Glitchless_No_Instant_Text&rules=game&x=7dg6p5gk">Game</a> and <a href="https://www.speedrun.com/pkmnrbext?h=Any_Glitchless_No_Instant_Text&rules=category&x=7dg6p5gk">Category</a> rules from Speedrun.com.</li>
    <li>Instant Text (IT) is banned from the tournament. In the event that you mistakenly get IT, it has to be killed off <strong>before the first turn on Bridge Rival</strong> and <strong>before the first turn on Dig Rocket</strong> respectively. Otherwise, you will be <strong>disqualified</strong>.</li>
    <li>We commit to restreaming runs for up to <strong>2h10m</strong>. Runs longer than <strong>2h30m</strong> count as "Did Not Finish" (DNF) to keep on track with restreaming time slots.</li>
    <li>In the unlikely event of a tie that ends up mattering for advancement or seeding, each run in question will be frame counted.</li>
</ul>

<h2>Crashes/Disconnects</h2>
<ul>
  <li>In the event that a racer’s stream disconnects for an extended period of time, they will have to provide a VOD of the run to the admins for review.</li>
  <li>If a racer’s console/emulator crashes, they must continue from their last save.</li>
  <li>If a racer’s console/emulator crashes within the first 20 minutes, a rematch is allowed ONLY if all racers agree.</li>
</ul>

<h2>Additional Rules</h2>
<ul>
  <li>Make sure you have a <a href="https://racetime.gg">Racetime.gg</a> and know how it works.</li>

  <li><strong>It is required to locally record your run in case you disconnect.</strong></li>

  <li>For split comparisons, it is required to use the following split names:</li>
  <ul>
    <li>Nidoran</li>
    <li>Brock</li>
    <li>Route 3</li>
    <li>Mt. Moon</li>
    <li>Bridge</li>
    <li>Misty</li>
    <li>Surge</li>
    <li>Fly</li>
    <li>Flute</li>
    <li>Koga</li>
    <li>Erika</li>
    <li>Blaine</li>
    <li>Sabrina</li>
    <li>Giovanni</li>
    <li>Lorelei</li>
    <li>Bruno</li>
    <li>Agatha</li>
    <li>Lance</li>
    <li>Champion</li>
    <li>Hall of Fame</li>
  </ul>
</ul>

<h2>Commentary Guidelines</h2>
<p>You must know enough about the run to explain what is going on at any one time.</p>
<p>Follow the guidelines from SpeedGaming: <a href="https://pastebin.com/92y6y9gb">SpeedGaming Guidelines</a></p>