@if (loading) {
    <app-loading></app-loading>
} @else {
        <h1>Pick'Ems!</h1>

            <div class="actions d-flex gap-3 mb-3 flex-wrap">

                @if (user) {

                    <!-- @if (user.isAdmin) {
                        <button class="btn btn-primary" routerLink="/pickems/admin">Admin</button>
                    } -->

                    @if (pickems) {
                        <button class="btn btn-primary" routerLink="/pickems/submit">Submit Round Picks</button>
                        <button class="btn btn-primary" routerLink="/pickems/picks">Your Picks</button>    
                    }
                }

                <button class="btn btn-primary" routerLink="/pickems/leaderboard">Leaderboard</button>
                <button class="btn btn-primary" routerLink="/pickems/stats">Stats</button>    

            </div>
    
        <router-outlet></router-outlet>
}


<!-- Remove at end of round 1 -->
<!-- @if (loading) {
    <app-loading></app-loading>
} @else {

    @if (pickems) {     
        
        <h1 class="mb-3">Pick'Ems!</h1>

        <div class="actions d-flex gap-3 mb-3 flex-wrap">
            @if (user?.isAdmin) {
                <button class="btn btn-primary" routerLink="/pickems/admin">Admin</button>
            }
            
            <button class="btn btn-primary" routerLink="/pickems/leaderboard">Leaderboard</button>
            <button class="btn btn-primary" routerLink="/pickems/submit">Submit Round Picks</button>
            <button class="btn btn-primary" routerLink="/pickems/picks">Your Picks</button>
        </div>
    
        <router-outlet></router-outlet>
    } @else {

        @if (user) {
            <app-pickems-tournament></app-pickems-tournament>
        } @else {
            <router-outlet></router-outlet>
        }
    }
} -->