<h1 class="mb-4">Tournament Info</h1>

<h2>Format</h2>
<p>This year, we’ll be using a Swiss-style bracket. In this format, everyone will play for the first 4 or 5 rounds. After each round, players gain points for winning. In subsequent rounds, you’ll race against opponents with similar point values, making it a self-balancing system.</p>
<p>After the Swiss rounds, the top 9 players with the highest points will advance to the semi-finals, and then to the finals.</p>

<h2>Seeding</h2>
<p>Seeding will be done based on WHAT.</p>
<p>Participants will be placed over 3 pots in equal amounts.</p>