@if (loading) {
    <app-loading></app-loading>
} @else {
    <h1>Upcoming Races</h1>
    <h4 class="mb-4">Date and time are shown in your local timezone ({{ userTimezoneLabel }})</h4>

    <!-- Seeding round -->
    <!--
    <div class="d-flex align-items-center mb-3">
        <h5 style="display: inline-block" class="me-2">Pot Key:</h5>
        <span class="badge bg-primary me-2 px-3 py-2">Pot 1</span>
        <span class="badge bg-success me-2 px-3 py-2">Pot 2</span>
        <span class="badge bg-info me-2 px-3 py-2">Pot 3</span>
    </div> 
    -->

    <!-- Post-seeding -->
    <div class="d-flex align-items-center mb-3">
        <h5 style="display: inline-block" class="me-2">Bracket Key:</h5>
        <span class="badge bg-primary me-2 px-3 py-2">Playoffs</span>
        <span class="badge bg-success me-2 px-3 py-2">Ascension</span>
        <span class="badge bg-info me-2 px-3 py-2">Normal</span>
        <span class="badge bg-dark me-2 px-3 py-2">Exhibition</span>
    </div>

    @if (errorMessage) {
        <div class="alert alert-disAmissible alert-primary mt-4">
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            <strong>{{ errorMessage }}</strong> 
        </div>
    }

    <div class="race-list border-top">
        @for (race of races; track race._id) {
            <div class="race-item d-flex flex-column border-bottom py-2 mt-3"
                [ngClass]="{ 'opacity-50': race.cancelled, 'bg-light': race.cancelled }">

                <div class="d-flex justify-content-between align-items-center">

                <div>
                    <h5 class="race-date">{{ race.raceDateTime * 1000 | date:'shortDate' }} - {{ race.raceDateTime * 1000 | date:'shortTime' }} (<span class="text-body-secondary">{{ timeUntilRace(race.raceDateTime) }}</span>)</h5>
                </div>

                @if (race.cancelled) {
                    <span class="badge bg-danger">Cancelled</span>
                }

                @if (!race.cancelled && race.restreamPlanned && !globals.isAdmin) {
                    <span class="badge bg-primary">Restreamed</span>
                }

                @if (globals.isAdmin && race.restreamPlanned) {

                }
            </div>
            
            <div class="d-flex justify-content-start align-items-center flex-wrap">

                <a [routerLink]="['/user', race.racer1.discordUsername]" style="cursor: pointer" 
                        class="text-decoration-none badge m-1 p-2"
                        [ngClass]="{
                            'bg-primary': race.racer1.currentBracket === 'Playoffs',
                            'bg-success': race.racer1.currentBracket === 'Ascension',
                            'bg-info': race.racer1.currentBracket === 'Normal',
                            'bg-dark': race.racer1.currentBracket === 'Exhibition',
                            'bg-secondary': !race.racer1.currentBracket
                        }"
                        [title]="race.racer1.discordUsername">
                    {{ race.racer1.displayName }}
                </a>

                <a [routerLink]="['/user', race.racer2.discordUsername]" style="cursor: pointer" 
                        class="text-decoration-none badge m-1 p-2"
                        [ngClass]="{
                            'bg-primary': race.racer2.currentBracket === 'Playoffs',
                            'bg-success': race.racer2.currentBracket === 'Ascension',
                            'bg-info': race.racer2.currentBracket === 'Normal',
                            'bg-dark': race.racer2.currentBracket === 'Exhibition',
                            'bg-secondary': !race.racer2.currentBracket
                        }"
                        [title]="race.racer2.discordUsername">
                    {{ race.racer2.displayName }}
                </a>
        
                                    
                @if (race.racer3) {
                    <a [routerLink]="['/user', race.racer3.discordUsername]" style="cursor: pointer" 
                        class="text-decoration-none badge m-1 p-2"
                        [ngClass]="{
                            'bg-primary': race.racer3.currentBracket === 'Playoffs',
                            'bg-success': race.racer3.currentBracket === 'Ascension',
                            'bg-info': race.racer3.currentBracket === 'Normal',
                            'bg-dark': race.racer3.currentBracket === 'Exhibition',
                            'bg-secondary': !race.racer3.currentBracket
                        }"
                        [title]="race.racer3.discordUsername">
                        {{ race.racer3.displayName }}
                    </a>
                }

                <!-- Seeding Round -->
                <!-- <a class="text-decoration-none badge m-1 p-2"
                        [ngClass]="{
                            'bg-primary': race.racer1.initialPot === '1',
                            'bg-success': race.racer1.initialPot === '2',
                            'bg-info': race.racer1.initialPot === '3',
                            'bg-secondary': !race.racer1.initialPot
                        }"
                        [title]="race.racer1.discordUsername">
                    {{ race.racer1.displayName }}
                </a>

                <a class="text-decoration-none badge m-1 p-2"
                        [ngClass]="{
                            'bg-primary': race.racer2.initialPot === '1',
                            'bg-success': race.racer2.initialPot === '2',
                            'bg-info': race.racer2.initialPot === '3',
                            'bg-secondary': !race.racer2.initialPot
                        }"
                        [title]="race.racer2.discordUsername">
                    {{ race.racer2.displayName }}
                </a>
        
                                    
                @if (race.racer3) {
                    <a class="text-decoration-none badge m-1 p-2"
                    [ngClass]="{
                        'bg-primary': race.racer3.initialPot === '1',
                        'bg-success': race.racer3.initialPot === '2',
                        'bg-info': race.racer3.initialPot === '3',
                        'bg-secondary': !race.racer3.initialPot
                    }"
                        [title]="race.racer3.discordUsername">
                        {{ race.racer3.displayName }}
                    </a>
                } -->

                <!-- Semifinals -->
                <!-- <a [routerLink]="['/user', race.racer1.discordUsername]" style="cursor: pointer" 
                        class="text-decoration-none badge m-1 p-2"
                        [ngClass]="{
                            'bg-primary': race.racer1.semisBracket === 'High',
                            'bg-success': race.racer1.semisBracket === 'Middle',
                            'bg-info': race.racer1.semisBracket === 'Low',
                            'bg-secondary': !race.racer1.semisBracket
                        }"
                        [title]="race.racer1.discordUsername">
                    {{ race.racer1.displayName }}
                </a>

                <a [routerLink]="['/user', race.racer2.discordUsername]" style="cursor: pointer" 
                        class="text-decoration-none badge m-1 p-2"
                        [ngClass]="{
                            'bg-primary': race.racer2.semisBracket === 'High',
                            'bg-success': race.racer2.semisBracket === 'Middle',
                            'bg-info': race.racer2.semisBracket === 'Low',
                            'bg-secondary': !race.racer2.semisBracket
                        }"
                        [title]="race.racer2.discordUsername">
                    {{ race.racer2.displayName }}
                </a>

                                    
                @if (race.racer3) {
                    <a [routerLink]="['/user', race.racer3.discordUsername]" style="cursor: pointer" 
                        class="text-decoration-none badge m-1 p-2"
                        [ngClass]="{
                            'bg-primary': race.racer3.semisBracket === 'High',
                            'bg-success': race.racer3.semisBracket === 'Middle',
                            'bg-info': race.racer3.semisBracket === 'Low',
                            'bg-secondary': !race.racer3.semisBracket
                        }"
                        [title]="race.racer3.discordUsername">
                        {{ race.racer3.displayName }}
                    </a>
                } -->

            </div>

                <div class="d-flex align-items-center justify-content-between mt-2">
                    <div class="d-flex align-items-center flex-wrap">
                        <img src="/mic.png" alt="Microphone icon" style="height: 1.5rem" class="me-2">
                        <div class="commentators d-flex flex-wrap">


                            @if (race.commentators.length > 0) {
                                @if(race.round == 'Semifinals' || race.round == 'Final') {
                                    @if (globals.isAdmin) {

                                        @for (commentator of race.commentators; track commentator._id) {
                                            <a [routerLink]="['/user', commentator.discordUsername]" style="cursor: pointer"  
                                            class="text-decoration-none badge bg-dark m-1 py-1 px-2"
                                            [title]="commentator.discordUsername">
                                            {{ commentator.displayName }}
                                        </a>                                        }
                                    } @else {
                                        <a class="text-decoration-none badge bg-dark m-1 py-1 px-2">
                                            {{ race.commentators.length }} {{ race.commentators.length === 1 ? 'commentator' : 'commentators' }} signed up
                                        </a>
                                    }
                                } @else {
                                    @for (commentator of race.commentators; track commentator._id) {
                                        <a [routerLink]="['/user', commentator.discordUsername]" style="cursor: pointer"  
                                            class="text-decoration-none badge bg-dark m-1 py-1 px-2"
                                            [title]="commentator.discordUsername">
                                            {{ commentator.displayName }}
                                        </a>
                                    }
                                }
                            }
                        </div>
                    </div>
                    <div>
                        @if (globals.discordUsername) {
                            @if (!race.cancelled && isUserCommentator(race)) {
                                <!-- Show the 'Pull Out' button if the user is a commentator -->
                                <button class="btn btn-danger btn-sm" (click)="pullOutFromCommentary(race._id)">
                                    Pull Out
                                </button>
                            } @else if (!race.cancelled) {
                                @if(race.round == 'Semifinals' || race.round == 'Final') {+
                                    <!-- Allow any amount of commentators to sign up -->
                                    <button class="btn btn-dark btn-sm" (click)="signUpToCommentate(race._id)">
                                        Commentate
                                    </button>
                                } @else if (race.commentators.length < 2) {
                                    <!-- Show the 'Commentate' button if there are fewer than 2 commentators -->
                                    <button class="btn btn-dark btn-sm" (click)="signUpToCommentate(race._id)">
                                        Commentate
                                    </button>
                                }
                            } 
                        }
                    </div>
                </div>

            <!-- Restream Section: Only for Admins -->
            <div class="restream-section mt-3">
                @if (globals.isAdmin && !race.cancelled) {
                    <div class="d-flex align-items-center">
                        <input 
                            type="text" 
                            [(ngModel)]="race.restreamChannel" 
                            class="form-control py-1 me-2" 
                            placeholder="Twitch Channel ID"
                            [disabled]="race.restreamPlanned">
                        
                        @if (!race.restreamPlanned) {
                            <button 
                                class="btn btn-primary btn-sm" 
                                (click)="signUpForRestream(race._id)" 
                                [disabled]="!race.restreamChannel">
                                Restream
                            </button>
                        } @else {

                            <span class="badge bg-dark m-1 px-3 py-2"
                                [title]="race.restreamer?.displayName">
                                {{ race.restreamer?.displayName }}
                            </span>

                            <button 
                                class="btn btn-danger btn-sm" 
                                (click)="cancelRestream(race._id)">
                                Cancel
                            </button>
                        }
                    </div>
                }
            </div>
        </div>
    }
    @empty {
        <p class="text-center mt-4"><strong>No upcoming races</strong></p>
    }
</div>
}
