
.wrapper {
    background-image: url('/background.png') !important;
    background-repeat: repeat;
    background-attachment: fixed;
    background-size: auto;
}

.container {
    max-width: 1150px !important;
    padding: 0 5rem !important;
}

@media (max-width: 768px) {
    .container {
        padding: 0 1rem !important;
    }

    .card-header > h4 {
        font-size: 1rem !important;
    }
}