@if (user) {
    <div class="container">
        <h2>User Settings</h2>

        @if (successMessage) {
            <div class="alert alert-dismissible alert-success">
                <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                {{ successMessage }}
            </div>
        }
        
        @if (errorMessage) {
            <div class="alert alert-dismissible alert-danger">
                <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                {{ errorMessage }}
            </div>
        }

        <form (ngSubmit)="updateSettings()">

            <div class="form-group">
                <label class="col-form-label mt-4" for="displayName">Display Name</label>
                <input 
                    type="text"
                    class="form-control"
                    [(ngModel)]="user.displayName" 
                    id="displayName"
                    name="displayName">
            </div>

            <div class="form-group">
                <label class="col-form-label mt-4" for="pronouns">Pronouns</label>
                <input 
                    type="text"
                    class="form-control"
                    [(ngModel)]="user.pronouns" 
                    id="pronouns"
                    name="pronouns">
            </div>

            <button class="btn btn-primary mt-3" type="submit">Save Changes</button>
        </form>
    </div>
}
